@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <input type="button" id="getValues" value="模拟后台更新价格" />
    <ul id="discussion"></ul>
</div>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:45920/chatHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.serverTimeoutInMilliseconds = 24e4;
    connection.keepAliveIntervalInMilliseconds = 12e4;

    var button = document.getElementById("getValues");

    connection.on('newPrice', data => {
        console.info(data);
        var liElement = document.createElement('li');
        liElement.innerHTML = '商品最新价格: ' + data;
        document.getElementById('discussion').appendChild(liElement);
    });

    button.addEventListener("click", event => {
        fetch("http://localhost:45920/api/Goods/Test")
            .then(function (data) {
                console.log(data);
            })
            .catch(function (error) {
                console.log(err);
            });

    });

    connection.start().then(function () {
        console.log("连接成功");
    }).catch(function (ex) {
        console.log("连接失败" + ex);
        setTimeout(() => start(), 30000);
    });
    async function start() {
        try {
            await connection.start();
            console.log("connected");
        } catch (err) {
            console.log(err);
            setTimeout(() => start(), 30000);
        }
    };
    connection.onclose(async () => {
        start();
    });
</script>
